<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheeta/style.css'/>
  </head>
  <body>
    <h2>Quiz: el juego de la preguntas by JC</h2>
    <p>
    <%= respuesta %>
    </p>
    <a href="/quizes/question"> Intentelo otra vez </a>
  </body>
  </html>
